
.header-inner{
    display: flex;
    
}
.img{
    margin: 8px;
    border-radius: 10px;
}
.header-name{
    margin-left: 20px;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
}
.header-profile{
    margin: 20px;
}
.header-name>h1{
    display: flex;
}
.header-name>p{
    margin: 0%;
    
}

@media screen and (min-width: 375px) and (max-width:667px) {
    .header-inner{
        font-size: xx-small;

    }
    .img{
        
        font-size: 4em;
    }
    .header-name {
        font-size: xx-small;
        min-width:95%;
        height:55%;
        margin: 0%;
    }
    h1{
        
        margin: 15px;
    }
    .header-profile{
        font-size: xx-small;
        margin: 0;
        padding: 0;

    }
    body{
        height: 125em;
        width: auto;
    }
    .con-ed{
        display: block;
        flex-direction: column;
    }
    .experience{
        font-size: xx-small;
        margin: 0%;
        min-width: 100em;
    }
    .education{
        font-size: xx-small;
        margin: 0%;
        padding: 0%;
    }
    .p1{
        width: 0;
        display: block;
        align-items: center;
        justify-content: center;
        margin: 3% 0 3% 0;
        font-size: xx-small;
        right: 150%;
        position: relative;
        

    }
    .education-masters{
        font-size: xx-small;
        margin: 0 ;
        position: relative;
        
        /* bottom: 20px; */
        
        
    }
    .education-masters p{
        font-size: xx-small;
        margin: 5px 0;
        padding: 5px 0;
        width: 40%;
    }
    .education-bachelor{
        
        margin: 0 ;
        position: relative;
        /* bottom: 50px; */

    }
    .education-bachelor p{
        font-size: xx-small;
        margin: 5px 0;
        padding: 5px 0;
        width: 43%;
    }
    h1{
        font-size: medium;
        margin: 0;
    }
    h3{
        font-size: medium;
        margin: 0;
        
    }
    h5{
        font-size: small;
        margin: 0;
        
    }
    h6{
        margin: 0;
        font-size: x-small;
    }
    .experience{
        margin: 0;
        padding: 0;
    }
    /* .experience>h3{
        /* position: relative;
        top: 30px; */
        
    /* } */
    .soft{
       /* width: 500px;
        position: relative;
        top: 15px; */
        margin: 0;
        font-size: xx-small;
    }
    .soft p{
        font-size: xx-small;
        margin: 5px 0;
        padding: 5px 0;
        width: 43%;
    }
    .Web{
        /* width: 500px;
        position: relative;
        top: 10px; */
        margin: 0;
        font-size: xx-small;
        
    }
    .Web p{
        font-size: xx-small;
        margin: 5px 0;
        padding: 5px 0;
        width: 43%;
    }
    .graph{
        position: relative;
        margin: 0;
        font-size: xx-small;
        
    }
    .graph p{
        font-size: xx-small;
        margin: 5px 0;
        padding: 5px 0;
        width: 43%;
    }
}

body{
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid black;
    display: block;
    
    justify-content: center;
    align-items: center;
}

.address{
    display: flex;
}
.phone{
    display: flex;
}
.email{
    display: flex;
}
.exp-exp{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-right: 150px;
    margin-left: 50px; */
    font-size: 14px;
}
.edu-exp{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    font-size: 14px;
}
.expertise{
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;
    
}
.image{
    width: 15%;
    height: 15%;
}
.image1{
    width: 15%;
    height: 15%;
}
.image2{
    width: 15%;
    height: 15%;   
}
.education{
    display: block;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 500px;
    font-size: 11px;
}
.education-masters{
    width: 500px;
    margin: 20px;
    margin: 0 auto;
    position: relative;
    /* bottom: 20px; */
    
}
.education-bachelor{
    width: 500px;
    margin: 20px;
    margin: 0 auto;
    position: relative;
    /* bottom: 50px; */
}
.con-ed{
    display: flex;
    /* margin-left: 80px; */
    font-size: 10px;
    margin: 10px;
}
.par{
    position: relative;
    top: 40px;
}
.experience{
    position: relative;
    /* top: 350px;
    right: 500px; */
    font-size: 11px;
    
}
.p1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 450px;
}
.experience>h3{
    position: relative;
    top: 30px;
}
.soft{
    width: 500px;
    position: relative;
    top: 15px;
}
.Web{
    width: 500px;
    position: relative;
    top: 10px;
}
.graph{
    width: 500px;
    position: relative;
    
}
/* .address:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(99, 99, 99, 0.595);
    border: 2px solid black;
    width: 50%;
}
.phone:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(99, 99, 99, 0.595);
    border: 2px solid black;
    width: 50%;
}
.email:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(99, 99, 99, 0.595);
    border: 2px solid black;
    width: 60%;
} */